<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Mb_Search_Test.MbSrp_RentTest"/>
      <class name="Mb_Search_Test.TopAgent_Test"/>
      <class name="Mb_Search_Test.Homepage_searchTest"/>
      
      <class name="Mb_Search_Test.MagichomeSrp_Test"/>
      <class name="Mb_Search_Test.Mb_Ldp_Test"/>
      <class name="Mb_Search_Test.MbPDP_Test"/>
      <class name="Mb_Search_Test.Mb_srp_Test"/>
      <class name="Mb_Search_Test.HomepageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
